<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ReqRes API Test Suite" parallel="methods" thread-count="3">
    <test name="User API Tests">
        <groups>
            <run>
                <include name="get"/>
                <include name="post"/>
                <include name="put"/>
                <include name="patch"/>
                <include name="delete"/>
                <include name="negative"/>
            </run>
        </groups>
        <classes>
            <class name="com.restassured.reqres.tests.UserTests"/>
            <class name="com.restassured.reqres.tests.NegativeUserTests"/>
        </classes>
    </test>
</suite>